.shoe {
    display: flex;
    gap: 16px;
    align-items: flex-start;
    padding: 12px;
    border: 1px solid #8087a2;
    border-radius: 6px;
    max-width: 600px;
    background-color: #5b6078;
}

.img {
    width: 140px;
    height: 140px;
    background: #5b6078;
    border-radius: 4px;
    flex: 0 0 140px;
    background-position: center;
    background-size: cover;
}

.info {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 0;
}

.info h3 {
    margin: 0 0 8px 0;
    font-size: 1.1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.info p {
    margin: 0 0 12px 0;
    color: #cad3f5;;
}

.btn {
    display: flex;
    gap: 8px;
}

.btn button {
    padding: 8px 12px;
    border: 1px solid #8087a2;
    cursor: pointer;
    background-color: #5b6078;
    padding: 14px;
    color: white;
    border-radius: 10px;
    border-style: solid;
}

.btn button:hover {
    background-color: #8087a2;
    border-color: #8087a2;
    transition-duration: 500ms;
    padding: 14px;
    color: white;
    border-radius: 10px;
    border-style: solid;
}

@media (max-width: 480px) {
    .shoe {
        flex-direction: column;
        align-items: stretch;
    }

    .img {
        width: 100%;
        height: 200px;
        flex: none;
    }

    .btn {
        justify-content: space-between;
    }
}