.Main{
    margin-inline: auto;
    width: max-content;
    padding: 5px;
    background-color: #494d64;
    border-radius: 15px;
}
.Main *{
    margin: 10px;
}
button{
    background-color: #5b6078;
    border-color: #8087a2;
    padding: 14px;
    color: white;
    border-radius: 10px;
    border-style: solid;
}
button:hover{
    background-color: #8087a2;
    border-color: #8087a2;
    transition-duration: 500ms;
    padding: 14px;
    color: white;
    border-radius: 10px;
    border-style: solid;
}