html{
    margin: 0;
    font-family: Cambria;
}
body{
    margin: 0;
}
section{
    display: flex;
}
aside{
    background-color: #E1BEE7;
    width: 25vw;
}
nav{
    height: 400px;
}
picture{
    height: 330px;
}
main{
    width: 75vw;
    font-size: 170%;
    text-align: center;
}
header{
    background-color: #9C64A6;
    color: white;
    height: 150px;
    letter-spacing: 5px;
    display: inline-block;
    width: 100%;
}
article{
    color:Indigo;
    height: 580px;
}
footer{
    background-color: #9C64A6;
    color: white;
    padding: 10px;
}
h2{
    text-align: center;
}
ul{
    list-style-type: circle;
}
img{
    padding: 4px;
    margin: 15px;
}
img:hover{
    padding: 3px;
    border: indigo 1px dashed;
}
#index{
    padding: 25px;
}
