body
{
    background-color: #EEEEEE;
    font-family: Helvetica, sans-serif;
    margin: 0px;
}
#kontener
{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
header
{
    background-color: lightblue;
    height: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
}
#logo
{
    width: 50%;
    display: inline-block;
}
#baner
{
    background-color: #DDDDDD;
    height: 200px;
}
#links
{
    display: inline-block;
}
article
{
    color: navy;
    margin: 50px;
    height: 400px;
}
footer
{
    text-align: right;
    background-color: lightblue;
    padding: 10px;
}
a
{
    color: navy;
    font-size: 150%;
    font-weight: bold;
    text-decoration: none;
    margin: 10px;
    padding: 5px;
}
a:hover
{
    text-decoration: solid 1px navy;
}
button
{
    background-color: lightblue;
    color: navy;
}
wynik
{
    color: navy;
}